* {
  box-sizing: border-box;
}

.wrapper {
  .chat-side {
    width: 300px;
    height: 100%;
    float: left;
    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      line-height: 100px;
      font-weight: bold;
      
      &__user-name{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        color: #ffffff;
        flex-basis: 65%;
      }
      .user-menu{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        &__edit-user{
          text-decoration: none;
          color: #ffffff;
        .icon{
          color: #ffffff;
          font-size: 16px;
          margin-right: 5px;
        }
        }
        &__new-group{
          text-decoration: none;
          color: #ffffff;
        .fa.fa-cog {
          font-size: 16px;
          color: #ffffff;
        }
        }
      }
    }
    .groups {
      background-color: #2f3e51;
      height: calc( 100vh - 100px );
      padding-top: 20px;
      overflow: scroll;
      .group{
        &__name{
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
        }
        &__message{
          color: #ffffff;
          padding-top: 5px;
          font-size: 11px;
        }
      }
    }
  }
  .chat-main {
    width: calc(100vw - 300px);
    background-color: #fafafa;
    height: 100%;
    float: left;
    .main-header {
      background-color: #ffffff;
      height: 100px;
      .current-group{
        padding-left: 40px;
        padding-right: 40px;  
        padding-top: 35px;
        float: left;
        &__name{
          color: black;
          font-size: 20px;
        }
        .member-list{
          font-size: 12px;
          color: #999999;
          padding-top: 5px;
          &__member{
            display: inline-block;
          }
        }
      }
      &__edit-btn{
        color: #38aef0;
        margin-right: 40px; 
        margin-top: 30px;
        padding: 0 20px;
        float: right;
        border: solid 1px;
        height: 40px;
        text-decoration: none;
        padding-top: 8px; 
      }
    }
    .messages {
      height: calc( 100vh - 100px );
      padding-top: 46px;
      overflow: scroll;
      padding-bottom: 90px;
      .message {
        margin-left: 40px;
        .upper-info{
          display: flex;
          &__user{
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
          }
          &__date{
            font-size: 12px;
            margin-left: 10px;
            color: #999999;
            ;
          }
        }
        .lower-message{
          padding-top: 10px;
          padding-bottom: 40px;
          color: #434a54;
          &__content{

          }
        }
      }
    }    
    .form{
      background-color: #ddd;
      height: 90px;
      width: calc(100vw - 300px);
      padding-left: 40px;
      padding-top: 20px;
      position: absolute;
      bottom: 0;
      
      &__message{
        width: calc(100% - 155px);
        height: 50px;
        padding-left: 10px;
      }
        &__image{
          padding-left: 10px;
        }
            .icon{
              font-size: 20px;
              position: absolute;
              right: 165px;
              bottom: 35px;
            }
            .hidden{
              text-indent: 100%;
              display: none;
            }
      &__submit{
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        position: absolute;
        right: 40px;
        bottom: 20px;
        color: #ffffff
      }
    }
  }
}
