* {
  box-sizing: border-box;
}
.flash-box{
  width: 100%;
  background-color: #38aef0;
} 
.wrapper {
  height: 100%;
  width: 100%;
  .chat-side {
    width: 300px;
    height: 100%;
    float: left;
    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      line-height: 100px;
      font-weight: bold;
      &__user-name{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        color: #ffffff;
        flex-basis: 65%;
      }
      .user-menu{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        &__edit-user{
          text-decoration: none;
          color: #ffffff;
          margin-right: 5px;
        .fa.fa-edit{
          color: #ffffff;
          font-size: 1.2em;
          margin-right: 5px;
        }
        }
        &__new-group{
          text-decoration: none;
          color: #ffffff;
        .fa.fa-cog {
          font-size: 1.2em;
          color: #ffffff;
        }
        }
      }
    }
    .groups {
      background-color: #2f3e51;
      height: calc( 100vh - 100px );
      .group{
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 1px;
        text-decoration: none;
        &__name{
          color: #ffffff;
          padding-top: 20px;
          font-size: 15px;
          font-weight: bold;
        }
        &__message{
          color: #ffffff;
          padding-top: 5px;
          font-size: 11px;  
        }
      }
    }
  }
  .chat-main {
    width: calc(100vx - 300px);
    background-color: #fafafa;
    height: 100%;
    .main-header {
      background-color: #ffffff;
      height: 100px;
      box-sizing:border-box;
      .current-group{
        padding-left: 40px;
        padding-right: 40px;  
        padding-top: 35px;
        float: left;
        &__name{
          color: black;
          font-size: 20px;
        }
        .member-list{
          font-size: 12px;
          color: #999999;
          padding-top: 5px;
          &__member{
            display: inline-block;
          }
        }
      }
      &__edit-btn{
        color: #38aef0;
        font-size: 20px;
        margin-right: 40px; 
        margin-top: 28px;
        padding: 0 20px;
        padding-top: 2px;
        float: right;
        border: solid 1px;
        height: 40px;
        text-decoration: none;
      }
    }
    .messages {
      height: calc( 100vh - 100px );
      padding-top: 46px;
      .message {
        margin-left: 340px;
        .upper-info{
          width: 100%;
          &__user{
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
          }
          &__date{
            font-size: 12px;
            padding-top: 4px;
            color: #999999;
            margin-left: 49px;
          }
        }
        .lower-message{
          padding-top: 10px;
          padding-bottom: 40px;
          color: #434a54;
          &__content{

          }
        }
      }
    }    
    .form{
      background-color: #ddd;
      clear: both;
      margin-left: 300px;
      height: 90px;
      width: calc(100vw - 300px);
      padding-left: 40px;
      padding-top: 20px;
      position: absolute;
      bottom: 0;
      
      &__message{
        width: calc(100% - 155px);
        height: 50px;
        padding-left: 10px;
      }
      &__mask{ 
        position: absolute;
        top: -1000px;
        &__image{
          padding-left: 10px;
        }
      }
            .icon{
              text-decoration: none;
              position: absolute;
              top: 1035px;
              left: 910px;
              font-size: 20px;
            }
            .hidden{
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-decoration: none;
            }
      &__submit{
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        position: absolute;
        right: 40px;
        bottom: 20px;
        color: #ffffff
      }
    }
  }
}
